body {
    margin: auto;
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} 

.maintable {

    width: 800px;
    min-width: 400px;


   



} 
